altair==4.2.0
argon2-cffi
attrs==22.1.0
beautifulsoup4==4.11.1
blinker==1.5
cachetools==5.2.0
certifi
charset-normalizer
click
colorama
GitPython==3.1.27
idna
Jinja2==3.1.2
joblib
jsonschema
lxml
MarkupSafe
matplotlib==3.5.3
nltk==3.7
numpy==1.23.1
packaging
pandas==1.4.3
Pillow
protobuf
psutil
pyarrow
pydeck
Pygments
regex
requests
rich
scikit-learn==1.1.2
scipy
semver
six
smmap
soupsieve
streamlit==1.12.0
tqdm
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
